table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px; /* Ajusta el tamaño de la fuente según sea necesario */
}
th, td {
    padding: 2px;
    text-align: left;
    margin: 0; 
}
.font-small {
    font-size: 10px;
}