<odoo>
    <data>
        <!-- Menu principal de Tesoreria -->
        <menuitem id="menu_tesoreria" sequence="6" name="Tesorería" parent="account_accountant.menu_accounting"/>
         <!-- Menú para chequeras -->
        <menuitem action="action_checkbook" name="Chequeras" id="menu_chequeras" sequence="41" parent="account_check.menu_tesoreria"/>
        <!-- Menú para cheques emitidos -->
        <menuitem action="action_issue_check" name="Cheques propios" id="menu_issue_check" sequence="40" parent="account_check.menu_tesoreria"/>
         <!-- Menú para cheques de terceros -->
        <menuitem action="action_third_check" name="Cheques de terceros" id="menu_third_check" sequence="50" parent="account_check.menu_tesoreria"/>
    </data>
</odoo>