.ct{
    width:1%;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    background: #00B0F0;
    color: white;
}
.ct2{
    width:1%;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    background: #1F3864;
    color: white;
}

.log_th{
    width:1%;
    font-weight: bold;
    text-align: center;
}

.log_tr{
    width:1%;
    text-align: center;
}

.log_total_tl{
    width:1%;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    background: #1F3864;
    color: white;
}

.log_total_amt{
    width:1%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background: #1F3864;
    color: white;
}

tr.log_lines td {
    border-bottom: 1px solid #C9CCD2;
}

.net_total_table {
    border-bottom: 1px solid #C9CCD2;
}

.net_total_cost_td1 {
    background: #800000;
    font-weight: bold;
    color: white;
}

.net_total_cost_td2 {
    background: #800000;
    color: white;
}

.net_total_cost3 {
    background: #FF0000;
    color: white;
}

.net_total_cost4 {
    background: #FF8080;
    color: white;
}

.net_total_cost5 {
    background: #E2EFD9;
}

#commission{
    width: 85%;
    margin-left:4cm;
}

#commission tr{
    border-bottom: 1px solid white;
}

#commission td{
    background: #002060;
    font-weight: bold;
    color: white;
}

.commission_val {
    background: #002060;
    color: white
}