.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.header{
    vertical-align: middle;
    background-color: lightgray;
    border-spacing: 5px;
}

.client_header{
    vertical-align: middle;
    background-color: #C5D9F1;
    border-spacing: 5px;
}

.client_perc{
    background-color: #63BE7B;
    text-align: center;
    color: black;
    font-weight: bold;
}

.client_total{
    color: black;
    font-weight: bolder !important;
    text-decoration:underline;
    border-bottom: 1px solid #000;
}

.client_total_back{
    background-color: #C5D9F1;
}

.total_misc_desc{
    background-color: #D9D9D9;
    font-weight: bold !important;
    color: black;
    text-align: center;
}

.client_spec_bonification{
    color: black;
    text-decoration:underline;
    font-weight: bolder !important;
    text-align: center;

}

.client_discount{
    font-weight: bold !important;
    color: black;
    text-align: center;
}


.header_item{
    vertical-align: middle;
    background-color: white;
}

.size{
    size: 10cm;
}


.manday_cost_cell{
    width: 4cm;
}


.installation_subheader{
    background-color: #BFBFBF;
    text-align: center;
}

.installation_header{
    background-color: #EBF1DE;
    text-align: center;
}

.summary_header{
    border: none;
    background-color: #808080;
    color: white;
    text-decoration:underline;
    font-weight: bolder !important;
    text-align: center;
    border-radius: 50px;
    outline: none;
}

#installation_space{
    background-color: white;
    border: 1px solid white;
}

.direct_cost_title{
    color: #FF0000;
    font-weight: bolder !important;
    text-decoration:underline;

}

.indirect_cost_title{
    color: #8064A2;
    font-weight: bolder !important;
    text-decoration:underline;
}

.apply_cell{
    background-color: #EBF1DE;
    color: black;
    font-weight: bolder !important;
    text-decoration: underline;
}

.general_exp_title{
    color: #E26B0A;
    font-weight: bolder !important;
    text-decoration: underline;
}

.subtotal_title{
    color: #963634;
    font-weight: bolder !important;
    text-decoration: underline;
}

.gross_profit_title{
    color: #00B050;
    font-weight: bolder !important;
    text-decoration: underline;
}

.gross_profit_groupd_title{
    color: #008A3E;
    font-weight: bolder !important;
    text-decoration: underline;
}

.gross_profit_groupd_title2{
    color: #366092;
    font-weight: bolder !important;
    text-decoration: underline;
}

.preliminary_result_header{
    background-color: #C5D9F1;
    font-weight: bolder !important;
    color: black;
    text-align: center;
    vertical-align: middle;
}


.param_budget_title{
   background-color: #DCE6F1;
   color: black;
   font-weight: bolder!important;
}

.param_budget_country{
    background-color: #EBF1DE;
    color: black;
    font-weight: bolder !important;
    font-size: 18px;
    text-align: center;
}


.param_apply{
    background-color: #EBF1DE;
    color: black;
    font-weight: bolder !important;
    text-align: center;
}

.param_budget_em{
   background-color: #DDD9C4;
   color: black;
   font-weight: bolder!important;
   text-decoration: underline;
   text-align: center;

}

.param_budget_wf{
   background-color: #E4DFEC;
   color: black;
   font-weight: bolder!important;
   text-decoration: underline;
    text-align: center;
}


#cabe{
    border: none;
    background:  -webkit-linear-gradient(top, #BAB6B8, #5F5A5C);
    width: 30cm;
    height: 1cm;
    border-radius: 50px;
    margin-left: 1.5cm;
}

#resu
{
    text-align: center;
    vertical-align: middle;
    padding-left: 14cm;
    font-size: 18px;
    font-weight: bold;
}


#prel_page_container{
    border: none;
    background:  -webkit-linear-gradient(top, #BAB6B8, #5F5A5C);
    width: 30cm;
    height: 1cm;
    border-radius: 50px;
    margin-left: 1.5cm;
}

#prel_title
{
    text-align: center;
    vertical-align: middle;
    padding-left: 12cm;
    font-size: 18px;
    font-weight: bolder !important;
}


.double_border{
    border: double #1F497D;
}

.double_border2{
    border: double #1F497D;
}



/*#installation_header{*/
/*    border: 1px solid lightgray;*/
/*    background-color: #EBF1DE;*/
/*    position: absolute;*/
/*    margin-top: -0.9cm;*/
/*    margin-bottom: 2cm;*/
/*    width: 34.5cm;*/
/*    text-align: center;*/
/*}*/

/*#installation_title{*/
/*    !*padding-left: 15cm;*!*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    text-decoration:underline;*/
/*}*/