<odoo>
    <data>
        <record id="report_action" model="ir.actions.report">
            <field name="name">Payment Report</field>
            <field name="model">sati_payment_report.wizard</field>
            <field name="report_type">qweb-pdf</field>
            <field name="report_name">sati_payment_report.report_payment</field>
            <field name="print_report_name">(object, 'Payment Report')</field>
        </record>
    </data>
</odoo>