<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <report
                id="report_deposito"
                model="depositos.cheques"
                string="Deposito"
                name="account_deposit.report_deposito_view"
                file="account_deposit.report_deposito"
                report_type="qweb-pdf"
                print_report_name="'Deposito %s' % (object.name)"
        />
    </data>
</odoo>