div.contenedor{
    font-size: 11px;
}


.negrita{
    font-weight:bold;
}



table.tabla{
    width: 100%;

}
td{
    border: 0.5px solid black;
    padding:2px ;
    text-align: center;
}

th{
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
}
.mayuscula{
    text-transform: uppercase;
}
thead { display: table-header-group }
tr { page-break-inside: avoid }

.diario-total th{
    text-align: left;
}

.diario-total td:nth-child(1){
    text-align: left;
}
.diario-total td:nth-child(2){
    text-align: right;
}