
.pos-receipt {
    width: 300px; 
    margin: 0 auto;
}
@media print {
    .pos-receipt {
        width: 80mm; 
    }
}

.pos-receipt-print {
    width: 512px;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    direction: ltr;
    font-size: 27px;
    color: #000000;
}

.pos-receipt .pos-receipt-right-align {
    float: right;
}

.pos-receipt .pos-receipt-center-align {
    text-align: center;
}

.pos-receipt .pos-receipt-left-padding {
    padding-left: 2em;
}

.pos-receipt .pos-receipt-logo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.pos-receipt .pos-receipt-contact {
    text-align: center;
    font-size: 75%;
    margin-top: -20px;
}

.pos-receipt .pos-receipt-order-data {
    text-align: center;
    font-size: 75%;
}

.pos-receipt .pos-receipt-amount {
    font-size: 125%;
    padding-left: 6em;
}

.pos-receipt .pos-receipt-title {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.pos-receipt .pos-receipt-header {
    font-size: 125%;
    text-align: center;
}

.pos-receipt .pos-order-receipt-cancel {
    color: red;
}

.pos-receipt .pos-receipt-customer-note {
    word-break: break-all;
}

.pos-payment-terminal-receipt {
    text-align: center;
    font-size: 75%;
}

.responsive-price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.responsive-price > .pos-receipt-right-align {
    margin-left: auto;
}

#info-vendedor{
    border-top: 1.8px dashed black;
    border-bottom: 1.8px dashed black;
    padding: 5px;
    font-size:14px;
}

#cliente-ruc{
    border-bottom: 1.8px dashed black;
    padding:5px;
    font-size:14px;
    margin-bottom: 0px;

}

#liqui_iva{
    font-size:17px;
    border-top: 1.8px dashed black;
    margin-top: 0px;
}

#tabla-encabezado{
    display: flex;
    justify-content: space-between;
    padding:5px;
    border-bottom: 1.5px dashed black;
}
#tabla-datos{
    display: flex;
    justify-content: space-between;
    padding:5px;
}
#total-desc{
    border-top: 1.5px dashed black;
    border-bottom: 1.5px dashed black;
    padding-top:5px;
}

#total-pagar{
    border-top: 1.5px dashed black;
}

#total-liquidacion{
    border-top: 1.5px dashed black;
    border-bottom: 1.5px dashed black;
}

#tabla-items{
    border: none !important;
}


#fila-cantidad{
  padding-left: 15px;
    border: none;
}
#fila-codbarra{
    border: none;
    text-align: left;
}
#fila-precio{
    border: none;
    text-align: left;
}

#fila-tax{
    margin: 0;
    border: none;
    text-align: right;
}
#fila-nombre{
    text-align: left;
}
#fila-nombre div{
    text-align: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#fila-codbarra,
#fila-precio,
#fila-tax,
#fila-nombre{
    margin: 0;
    padding: 0;
    padding-left: 2px;
    border: none;
    text-align: right;
}
table {
    font-size: 16px;
    border-spacing: 0;

}
tbody tr {
    margin: 0;
    padding: 0;
}

tbody td {
    margin: 0;
    border: none;
    padding: 0;
}

#td-head{
border: none;

}

#head-items td{
    padding-top: 5px;
}

thead{
    border-bottom: 1.8px dashed black;
}
#impuesto-linea{
font-size: 14px;
}

#div-items{
    margin-top: -40px;
    border-bottom: 1.8px dashed black;
}
